<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<img alt="FPMS" class="img-responsive center-block" src="modules/core/img/brand/logo.png" />
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Front-end performance monitor system,namely FPMS.<br>
				FPMS is an very usefull tool that helps you analyze your website <strong>speed</strong> and <strong>performance</strong>.<br>
				It collects data from multiple pages on your website, analyze the pages using the rules and
				gives you suggestion based on the result by multi-dimensional visual charts.
			</p>
		</div>
	</div>
	<br>Where amazing happens,
	<br>@YWANG1724.
</section>
