<section class="row" data-ng-controller="AuthenticationController">
	<div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4 login-form-bg">
		<h3 class="text-center">请使用您的邮箱进行注册</h3>
		<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>
				<div class="form-group">
					<div data-ng-show="error" class="text-center text-danger">
						<div class="alert alert-danger" role="alert">
							<strong data-ng-bind="error"></strong>
						</div>
					</div>
					<div data-ng-show="success" class="text-center text-success">
						<div class="alert alert-success">
							<strong>您已成功注册账号！待管理员审核并激活后即可使用。</strong>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group input-group-lg">
						<span class="input-group-addon">
							<i class="text-muted glyphicon glyphicon-star"></i>
						</span>
						<input type="text" id="displayName" name="displayName" class="form-control" required
                               data-ng-change="removeErr()" data-ng-model="credentials.displayName" placeholder="显示名">
					</div>
				</div>
				<div class="form-group">
					<div class="input-group input-group-lg">
						<span class="input-group-addon">
							<i class="text-muted glyphicon glyphicon-envelope"></i>
						</span>
						<input type="email" id="email" name="email" class="form-control"
                               data-ng-model="credentials.email" data-ng-change="removeErr()" placeholder="邮箱" required>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group input-group-lg">
						<span class="input-group-addon">
							<i class="text-muted glyphicon glyphicon-user"></i>
						</span>
						<input type="text" id="username" name="username" class="form-control" required
                               data-ng-model="credentials.username" data-ng-change="removeErr()" placeholder="账号">
					</div>
				</div>
				<div class="form-group">
					<div class="input-group input-group-lg">
						<span class="input-group-addon">
							<i class="text-muted glyphicon glyphicon-asterisk"></i>
						</span>
						<input type="password" id="password" name="password" class="form-control" required
                               data-ng-change="removeErr()" data-ng-model="credentials.password" placeholder="密码">
					</div>
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-success btn-lg btn-block">注册</button>
				</div>
				<div class="text-center form-group">
					或&nbsp;<a href="/#!/signin" class="show-signup">登录</a>
				</div>
			</fieldset>
		</form>
	</div>
</section>
