<section class="row" data-ng-controller="AuthenticationController">
	<h3 class="col-md-12 text-center">请使用您的邮箱进行注册</h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="displayName">显示名</label>
					<input type="text" required id="displayName" name="displayName" class="form-control"
						   data-ng-model="credentials.displayName" placeholder="显示名">
				</div>
				<div class="form-group">
					<label for="email">邮箱</label>
					<input type="email" id="email" name="email" class="form-control"
						   data-ng-model="credentials.email" placeholder="邮箱">
				</div>
				<div class="form-group">
					<label for="username">账号</label>
					<input type="text" id="username" name="username" class="form-control"
						   data-ng-model="credentials.username" placeholder="账号">
				</div>
				<div class="form-group">
					<label for="password">密码</label>
					<input type="password" id="password" name="password" class="form-control"
						   data-ng-model="credentials.password" placeholder="密码">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">注册</button>&nbsp; 或者&nbsp;
					<a href="/#!/signin" class="show-signup">登录</a>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
