<section data-ng-controller="UIController" ng-init="initMon()">
    <div class="pull-right">
        <a title="返回" class="btn btn-primary btn-sm" data-ng-click="back();">
            <i class="glyphicon glyphicon-arrow-left"></i>
        </a>
    </div>
    <div class="page-header">
        <h1>监测结果详情</h1>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">基本信息</div>
        <div class="panel-body row">
            <div class="col-xs-12 col-md-6 view-container">
                <span class="col-xs-5 text-right key">监控时刻：</span>
                <span class="col-xs-7 text-left"><a onclick="">{{mon.timestamp | date : 'yyyy-MM-dd HH:mm:ss' }}</a></span>
            </div>
            <div class="col-xs-12 col-md-6 view-container">
                <span class="col-xs-5 text-right key">是否有异常产生：</span>
                <span class="col-xs-7 text-left">
                    <span class="label label-danger" ng-hide="!mon.hasException"> 有 </span>
                    <span class="label label-success" ng-hide="mon.hasException">无</span>
                </span>
            </div>
            <div class="col-xs-12 col-md-6 view-container">
                <span class="col-xs-5 text-right key">监测数据下载：</span>
                <span class="col-xs-7 text-left">
                    <label class="label label-primary label-custom" ng-repeat="(key, value) in mon.data" ng-click="downloadFile(value)" ng-hide="!value">
                        {{fileName[key]}}
                    </label>
                </span>
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">异常详情</div>
        <div class="panel-body">
            <tabset>
                <tab>
                    <tab-heading>
                        <i class="fa fa-area-chart"></i> DOM检测异常
                    </tab-heading>
                    <div class="panel-body">
                        <table class="table table-bordered">
                            <thead>
                            <tr >
                                <th width="100" class="text-center">序号</th>
                                <th class="text-center">异常详情</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="domException in mon.domExceptions" data-ng-if="mon.domExceptions.length">
                                <th class="text-center">{{ $index + 1}}</th>
                                <td class="text-center"><code>{{domException.exception}}</code></td>
                            </tr>
                            <tr data-ng-if="!mon.domExceptions.length">
                                <td class="text-center" colspan="2">没有异常数据。</td>
                            </tr>
                        </table>
                    </div>
                </tab>
                <tab >
                    <tab-heading>
                        <i class="fa fa-cloud"></i> 页面对比异常
                    </tab-heading>
                    <div class="panel-body">
                        <table class="table table-bordered">
                            <thead>
                            <tr >
                                <th class="text-center">增加的DOM节点</th>
                                <th class="text-center">删除的DOM节点</th>
                                <th class="text-center">变化的CSS样式数</th>
                                <th class="text-center">变化的文字数</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-center"><code>{{mon.uiExceptions.add}}</code></td>
                                <td class="text-center"><code>{{mon.uiExceptions.remove}}</code></td>
                                <td class="text-center"><code>{{mon.uiExceptions.style}}</code></td>
                                <td class="text-center"><code>{{mon.uiExceptions.text}}</code></td>
                            </tr>
                        </table>
                        <div class="panel panel-success" data-ng-if="mon.data.screenShot">
                            <div class="panel-heading">
                                页面截图
                            </div>
                            <div class="panel-body">
                                <img style="max-width: 100%;width: 100%;" src="/mon/getFile?fileId={{mon.data.screenShot}}" alt="">
                            </div>
                        </div>
                        <div class="panel panel-success" data-ng-if="mon.data.diffPic">
                            <div class="panel-heading">
                                页面对比图片
                            </div>
                            <div class="panel-body">
                                <img style="max-width: 100%;width: 100%;" src="/mon/getFile?fileId={{mon.data.diffPic}}" alt="" >
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</section>
