/******************菜单栏***********************/
#ubas-menu {
  padding:0 10%;
  height: 50px;
  background: #555;
  font-size: 16px;
  color: #fff;
  font-family: 微软雅黑;
  border-bottom: 1px solid #000;
  position:absolute !important;
  top:0;
  left:0;
  width:100%;
  z-index:7777;
}
#ubas-menu .ubas-menu-toggleMode {
  position: absolute;
  top:0;
  left:20%;
}
#ubas-menu .ubas-menu-toggleMode-span {
  display: inline-block;
  margin-right: -5px;
  padding:14px 20px;
}
#ubas-menu .ubas-menu-toggleMode-select {
  background: #aaa;
  border-radius: 2px;
}
#ubas-menu .ubas-menu-logo {
  font-weight: bold;
}
#ubas-menu .ubas-menu-buttons {
  position: absolute;
  top:0;
  right: 20%;
}
#ubas-menu .ubas-buttons-span {
  display: inline-block;
  padding:14px 20px;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}

/******************事件绑定弹层***********************/

#ubas-tooltip {
  position:absolute !important;
  font-size:14px !important;
  width: 300px !important;
  font-family: 微软雅黑 !important;
  box-shadow: 0 0 15px #888888;
  background: #EDE9E9;
  border-radius: 5px;
  border: 1px solid #ccc;
  z-index: 9999;
}

.ubas-tooltip-header {
  background: #ccc;
  position: relative;
  height: 30px;
}
.ubas-tooltip-header .tooltip-span {
  position: absolute;
  padding: 5px 8px 5px 0;
}
.ubas-tooltip-header .tooltip-span-left {
  left:8px;
  border-right: 1px solid #bbb;
  font-weight: bold;
  color:#68b828;
}
.ubas-tooltip-header .tooltip-span-right {
  top:0px;
  right:5px;
}



.ubas-tooltip-body {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding:15px;
}
.ubas-tooltip-body .body-top {
  padding:10px 0 20px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
.ubas-tooltip-body .body-center {
  padding:10px 0 10px;
}
.ubas-tooltip-body .body-center-input label {
  display: inline-block;
  margin-right: 10px;
}
.ubas-tooltip-body .body-center-input input {
  width: 215px;
  border-radius: 3px;
  height:20px;
  border:1px solid #ccc;
}

.ubas-tooltip-body .body-center-checkbox{
  position: relative;
  padding: 8px 0 0;
  font-size: 12px;
}
.ubas-tooltip-body .body-center-checkbox input {
  position: relative;
  top:2px;
}

.ubas-tooltip-footer {
  padding: 10px;
  text-align: center;
}
.ubas-tooltip-footer button {
  background: #2A73E0;
  padding:5px 25px;
  border-radius: 5px;
  border-style:none;
  color: #fff;
}

/******************遮罩层***********************/
#ubas-modal {
  position:absolute !important;
  background: rgba(20,20,20,0.6);
  z-index:8888;
  top:0;
  left:0;
}


