<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>

<body>
<h1 style="font-size:25px;font-weight:normal;text-align:center;font-family:Microsoft YaHei,WenQuanYi Micro Hei;"> {{title}} </h1>
<hr />
<p style="font-size:16px;font-weight:normal;font-family:Microsoft YaHei,WenQuanYi Micro Hei;">
    您好，您在FPMS平台上检测的应用 {{ name}} 下的页面 <a href="{{url}}"> {{ url }}</a>  发生了异常，异常详情如下：
</p>
<h2 style="margin: 5px;font-size:20px;font-weight:normal;font-family:Microsoft YaHei,WenQuanYi Micro Hei;">1. DOM检测异常 </h2>
<ol style="font-family:Microsoft YaHei,WenQuanYi Micro Hei;font-size:14px;margin:10px;padding: 0;">
    {% if domExceptions.length %}
        {% for domE in domExceptions %}
        <li style="margin:5px 10px">
            <code style="font-size:13px;font-family: Monaco, consolas;color:#c7254e;background-color:#f9f2f4;padding:2px 4px">{{domE.exception}}</code>
        </li>
        {% endfor %}
    {% else %}
        <span style="padding: 0 20px;">没有DOM异常发生。</span>
    {% endif %}
</ol>

<h2 style="margin: 5px;font-size:20px;font-weight:normal;font-family:Microsoft YaHei,WenQuanYi Micro Hei;">2. 页面差异性检测异常 </h2>
<table style="margin:10px 25px;border-spacing: 0; border-collapse: collapse;font-weight:normal;font-size:14px;text-align:center;font-family:Microsoft YaHei,WenQuanYi Micro Hei;border:1px solid #ddd;color:">
    <thead style="font-weight:normal;">
    <tr style="border:1px solid #ddd">
        <th style="border:1px solid #ddd;padding:4px 5px">增加的DOM节点数</th>
        <th style="border:1px solid #ddd;padding:4px 5px">删除的DOM节点数</th>
        <th style="border:1px solid #ddd;padding:4px 5px">变化的CSS样式数</th>
        <th style="border:1px solid #ddd;padding:4px 5px">变化的文字数</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="border:1px solid #ddd;padding:4px 5px;font-family: Monaco, consolas;color:#c7254e;">{{uiExceptions.add}} </td>
        <td style="border:1px solid #ddd;padding:4px 5px;font-family: Monaco, consolas;color:#c7254e;">{{uiExceptions.remove}} </td>
        <td style="border:1px solid #ddd;padding:4px 5px;font-family: Monaco, consolas;color:#c7254e;">{{uiExceptions.style}} </td>
        <td style="border:1px solid #ddd;padding:4px 5px;font-family: Monaco, consolas;color:#c7254e;">{{uiExceptions.text}} </td>
    </tr>
    </tbody>
</table>
<h2 style="margin: 5px;font-size:20px;font-weight:normal;font-family:Microsoft YaHei,WenQuanYi Micro Hei;">3. 发生异常的页面截图 </h2>
<img style="max-width:1024px" src="cid:screenShot" alt="">
<h2 style="margin: 5px;font-size:20px;font-weight:normal;font-family:Microsoft YaHei,WenQuanYi Micro Hei;{% if !attachments.diffPic %} display:none;{% endif %}">4. 与上次监测页面对比图 </h2>
<img style="max-width:1024px;{% if !attachments.diffPic %} display:none;{% endif %}"src="cid:diffPic" alt="" >
<p>FPMS技术支持团队</p>
</body>

</html>
