<section data-ng-controller="AppsBehaviorCustomController">
  <div class="panel panel-success">
    <div class="panel-heading">自定义埋点配置</div>
    <div class="panel-body">
      <div class="form-group">
        <label>请输入监测网站的域名：</label>
        <input type="text" class="form-control"  data-ng-model="redirectURL" placeholder="http://www.csdc.info">
      </div>
      <div class="text-center">
        <button class="btn btn-success" ng-click="redirect()">确定</button>
      </div>
    </div>
  </div>
</section>
