<section data-ng-controller="AppsExceptionController" ng-init="viewException()">
    <div class="pull-right" data-ng-show="(authentication.user)">
        <a title="返回" class="btn btn-primary btn-sm" data-ng-click="back();">
            <i class="glyphicon glyphicon-arrow-left"></i>
        </a>
    </div>
	<div class="page-header">
		<h1 data-ng-bind="app.name"></h1>
	</div>
    </div>
	<div class="panel panel-success">
		<div class="panel-heading">查询参数配置：</div>
		<div class="panel-body">
			<div class="text-center text-danger">
				目前{{app.name}}的<span class="large">{{pagesNum}}</span>个页面正在进行监控。
			</div>
			<div data-ng-show="showChart">
				<div class="form-group">
					<label class="control-label">页面：</label>
					<button class="btn btn-default" name="selectPage" data-ng-model="selectPage"
							placeholder="暂无监控页面" ng-options="page.pathname for page in pages" bs-select>
					</button>
					<label class="control-label">统计日期：</label>
					<input class="btn btn-default" ng-model="staticDay"
						   placeholder="统计日期" bs-datepicker type="text" data-date-format="yyyy-MM-dd">
				</div>
				<div class="form-group">
					<button type="button" class="btn btn-success" ng-click="refrashChart()">
						<span class="fa fa-refresh"></span> 刷新
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="tabWidth">
		<tabset data-ng-if="showChart && showData">
			<tab>
				<tab-heading>
					<i class="fa fa-line-chart"></i> 异常趋势
				</tab-heading>
				<highchart config="chartConfig"></highchart>
			</tab>
			<tab>
				<tab-heading>
					<i class="fa fa-list">异常列表</i>
				</tab-heading>
				<div>
					异常表格
				</div>
			</tab>
			<tab>
				<tab-heading>
					<i class="fa fa-th">异常分布</i>
				</tab-heading>
				<div>
					分布饼图
				</div>
			</tab>
			<tab>
				<tab-heading>
					<i class="fa fa-pie-chart"></i> 统计概况
				</tab-heading>
				<highchart config="exceptionPie"></highchart>
			</tab>
		</tabset>
	</div>
    <div class="alert alert-danger text-center" role="alert" data-ng-show="!showData">
        <strong>没有数据。</strong>
    </div>
	<small>
		<em class="text-muted">
			由
			<span data-ng-bind="app.user.displayName"></span>
			创建于
			<span data-ng-bind="app.created | date:'yyyy-MM-dd HH:mm:ss'"></span>
		</em>
	</small>
</section>
