<section data-ng-controller="AppsExceptionController" ng-init="viewException()">
    <div class="pull-right" data-ng-show="(authentication.user)">
        <a title="返回" class="btn btn-primary btn-sm" data-ng-click="back();">
            <i class="glyphicon glyphicon-arrow-left"></i>
        </a>
    </div>
	<div class="page-header">
		<h1 data-ng-bind="app.name"></h1>
	</div>
    </div>
	<div class="panel panel-success">
		<div class="panel-heading">查询参数配置：</div>
		<div class="panel-body">
			<div class="text-center text-danger">
				目前{{app.name}}的<span class="large">{{pagesNum}}</span>个页面正在进行监控。
			</div>
			<div data-ng-show="showChart">
				<div class="form-group">
					<label class="control-label">页面：</label>
					<button class="btn btn-default" name="selectPage" data-ng-model="selectPage"
							placeholder="暂无监控页面" ng-options="page.pathname for page in pages" bs-select>
					</button>
					<label class="control-label">统计日期：</label>
					<input class="btn btn-default" ng-model="staticDay"
						   placeholder="统计日期" bs-datepicker type="text" data-date-format="yyyy-MM-dd">
				</div>
				<div class="form-group">
					<button type="button" class="btn btn-success" ng-click="refrashChart()">
						<span class="fa fa-refresh"></span> 刷新
					</button>
					<button type="button" class="btn btn-success" ng-click="gotoPerformance()">
						<span class="fa fa-refresh"></span> 切换至性能监控
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="tabWidth">
		<tabset data-ng-if="showChart && showData">
			<tab>
				<tab-heading>
					<i class="fa fa-line-chart"></i> 异常趋势
				</tab-heading>
				<highchart config="exceptionTrendLine"></highchart>
			</tab>
			<tab>
				<tab-heading>
					<i class="fa fa-th">异常列表</i>
				</tab-heading>
				<div>

					<table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover myTable"
						   data-ng-if="exceptionKinds.length">
						<thead>
							<tr>
								<th>类型</th>
								<th>发生次数</th>
								<th>消息提示</th>
								<th>是否报警</th>
								<th>上次报警时间</th>
								<th>查看详情</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="exceptionKind in exceptionKinds">
								<td ng-switch="{{ exceptionKind.type }}" style="width:15% !important;">
									<span ng-switch-when="1">JavaScript异常</span>
									<span ng-switch-when="2">Ajax请求异常</span>
									<span ng-switch-when="3">静态资源获取异常</span>
									<span ng-switch-when="4">死链接异常</span>
									<span ng-switch-when="5">页面加载异常</span>
									<span ng-switch-when="6">DOM结构异常</span>
									<span ng-switch-when="7">内存异常</span>
								</td>
								<td style="width:10% !important;">{{ exceptionKind.occurTimeAndUi.length }}</td>
								<td style="width:25% !important;">{{ exceptionKind.message }}</td>
								<td ng-switch="{{ exceptionKind.isAlarm }}" style="width:15% !important;">
									<span ng-switch-when="1">是</span>
									<span ng-switch-when="2">否</span>
								</td>
								<td style="width:20% !important;">{{ exceptionKind.lastAlarmTime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
								<td ng-click="viewExceptionKindDetail()" style="width:15% !important;">查看详情</td>
							</tr>
						</tbody>
					</table>
					<div class="alert alert-warning text-center" data-ng-if="!exceptionKinds.length">
						没有任何异常。
					</div>
				</div>
			</tab>
			<tab>
				<tab-heading>
					<i class="fa fa-list">异常详细记录</i>
				</tab-heading>
				<div>

					<table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover myTable"
						   data-ng-if="exceptions.length">
						<thead>
						<tr>
							<th>类型</th>
							<th>发生时间</th>
							<th>消息提示</th>
							<th>发生平台</th>
							<th>浏览器版本</th>
							<th>IP地址</th>
							<th>查看详情</th>
						</tr>
						</thead>
						<tbody>
						<tr data-ng-repeat="exception in exceptions">
							<td ng-switch="{{ exception.type }}" style="width:15% !important;">
								<span ng-switch-when="1">JavaScript异常</span>
								<span ng-switch-when="2">Ajax请求异常</span>
								<span ng-switch-when="3">静态资源获取异常</span>
								<span ng-switch-when="4">死链接异常</span>
								<span ng-switch-when="5">页面加载异常</span>
								<span ng-switch-when="6">DOM结构异常</span>
								<span ng-switch-when="7">内存异常</span>
							</td>
							<td style="width:15% !important;">{{ exception.occurTime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
							<td style="width:28% !important;">{{ exception.message }}</td>
							<td style="width:10% !important;">{{ exception.occurTimeAndUi.ui.os }}</td>
							<td style="width:12% !important;">{{ exception.occurTimeAndUi.ui.browser }}</td>
							<td style="width:10% !important;">{{ exception.occurTimeAndUi.ui.ip }}</td>
							<td ng-click="viewExceptionDetail()" style="width:10% !important;">查看详情</td>
						</tr>
						</tbody>
					</table>
					<div class="alert alert-warning text-center" data-ng-if="exceptions.$resolved && !exceptions.length">
						没有任何异常。
					</div>


				</div>
			</tab>
			<tab>
				<tab-heading>
					<i class="fa fa-th">统计概况</i>
				</tab-heading>
				<highchart config="exceptionBrowserBar"></highchart>
			</tab>
			<tab>
				<tab-heading>
					<i class="fa fa-pie-chart"></i> 异常分布
				</tab-heading>
				<highchart config="exceptionPie"></highchart>
			</tab>
		</tabset>
	</div>
    <div class="alert alert-danger text-center" role="alert" data-ng-show="!showData">
        <strong>没有数据。</strong>
    </div>
	<small>
		<em class="text-muted">
			由
			<span data-ng-bind="app.user.displayName"></span>
			创建于
			<span data-ng-bind="app.created | date:'yyyy-MM-dd HH:mm:ss'"></span>
		</em>
	</small>
</section>
