<div class="modal myModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">{{ title }}</h4>
			</div>
			<div class="modal-body">

				<div class="panel panel-info">
					<div class="panel-heading">
						详情:
					</div>
					<div class="panel-body">
						<table class="table  table-bordered table-hover">
							<tr>
								<td class="text-right" style="width: 15%;">收件人:</td>
								<td>
									{{ mail.receiver }}
								</td>
							</tr>
							<tr>
								<td class="text-right" style="width: 15%;">主题:</td>
								<td>{{ mail.theme }}</td>
							</tr>
							<tr>
								<td class="text-right" style="width: 15%;">发送时间:</td>
								<td>{{ mail.sendTime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
							</tr>
							<tr>
								<td class="text-right" style="width: 15%;">发送状态:</td>
								<td ng-switch="mail.status">
									<span ng-switch-when="1">发送成功</span>
									<span ng-switch-when="2">发送失败</span>
								</td>
							</tr>
							<tr>
								<td class="text-right" style="width: 15%;">内容:</td>
								<td> <div ng-bind-html="mail.content"></div></td>
							</tr>
						</table>
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>
