<section data-ng-controller="AppsController">
    <div class="page-header text-center">
        <h1>添加新应用</h1>
    </div>
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
        <form name="appForm" class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group"
                     ng-class="{ 'has-error': appForm.name.$dirty && appForm.name.$invalid }">
                    <label class="control-label" for="name">名称</label>
                    <div class="controls">
                        <input name="name" type="text" data-ng-model="name" id="name" class="form-control"
                               placeholder="请填写您的应用名称" data-ng-change="removeErr()" required>
                    </div>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error': appForm.type.$dirty && appForm.type.$invalid }">
                    <label class="control-label" for="type">类型</label>
                    <div class="controls">
                        <select id="type" name="type" data-ng-model="type" ng-options="type for type in types"
                                class="form-control" required>
                        </select>
                    </div>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error': appForm.host.$dirty && appForm.host.$invalid }">
                    <label class="control-label" for="host">域</label>
                    <div class="controls">
                        <input name="host" type="text" data-ng-model="host" id="host" class="form-control"
                               placeholder="请填写您的应用所在域" data-ng-change="removeErr()" required>
                    </div>
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="提交" class="btn btn-primary">
                    <input type="button" value="取消" class="btn btn-default" ng-click="back()">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
