<section data-ng-controller="AppsController">
    <div class="page-header text-center">
        <h1>添加新应用</h1>
    </div>
    <div class="row panel panel-info">
        <div class="panel-heading">
            请配置您的应用：
        </div>
        <div class="panel-body">
            <form name="appForm" class="form-horizontal" data-ng-submit="create()" novalidate>
                <fieldset>
                    <div class="form-group" ng-class="{ 'has-error': appForm.name.$dirty && appForm.name.$invalid }">
                        <label for="name" class="col-sm-2 control-label">名称</label>
                        <div class="col-sm-10 controls">
                            <input name="name" type="text" data-ng-model="name" id="name" class="form-control"
                                   placeholder="请填写您的应用名称" data-ng-change="removeErr()" required>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': appForm.type.$dirty && appForm.type.$invalid }">
                        <label for="type" class="col-sm-2 control-label">类型</label>
                        <div class="col-sm-10 controls">
                            <select id="type" name="type" data-ng-model="type" ng-options="type for type in types"
                                    class="form-control" required>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': appForm.host.$dirty && appForm.host.$invalid }">
                        <label for="host" class="col-sm-2 control-label">域</label>
                        <div class="col-sm-10 controls">
                            <input name="host" type="text" data-ng-model="host" id="host" class="form-control"
                                   placeholder="请填写您的应用所在域" data-ng-change="removeErr()" required>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': appForm.alarmtype.$dirty && appForm.alarmtype.$invalid }">
                        <label class="col-sm-2 control-label">报警类型(默认前四种)</label>
                        <div class="col-sm-10 controls">
                            <label ng-repeat="alarmitmen in alarmtypes">
                                <input
                                        type="checkbox"
                                        name="alarmtype[]"
                                        value="{{alarmitmen.value}}"
                                        ng-model="alarmtype"
                                        ng-checked="alarmitmen.checked"
                                        ng-click="toggleSelection($event, 1)"
                                        > {{alarmitmen.label}}
                            </label>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': appForm.deadLinkInterval.$dirty && appForm.deadLinkInterval.$invalid }">
                        <label for="deadLinkInterval" class="col-sm-2 control-label">死链接检测间隔</label>
                        <div class="col-sm-10 controls">
                            <select id="deadLinkInterval" name="deadLinkInterval" data-ng-model="deadLinkInterval" ng-options="deadLinkInterval.value as deadLinkInterval.label for deadLinkInterval in deadLinkIntervals"
                                    class="form-control" required>
                            </select>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="提交" class="btn btn-primary">
                        <input type="button" value="取消" class="btn btn-default" ng-click="back()">
                    </div>
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </fieldset>
            </form>
        </div>

    </div>
</section>
