<section data-ng-controller="AppsController" data-ng-init="intApp()">
    <div class="page-header text-center">
        <h1>设置</h1>
    </div>
    <form name="appForm" class="form-horizontal" data-ng-submit="update()" novalidate>
        <!--基础配置-->
        <div class="row panel panel-info">
            <div class="panel-heading">
                基础配置
            </div>
            <div class="panel-body">
                <fieldset>
                    <div class="form-group" ng-class="{ 'has-error': appForm.name.$dirty }">
                        <label for="name" class="col-sm-2 control-label">名称</label>
                        <div class="col-sm-10 controls">
                            <input name="name" type="text" data-ng-model="app.name" id="name" class="form-control"
                                   placeholder="请填写您的应用名称" data-ng-change="removeErr()" required>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': appForm.type.$dirty }">
                        <label for="type" class="col-sm-2 control-label">类型</label>
                        <div class="col-sm-10 controls">
                            <select id="type" name="type" data-ng-model="app.type" class="form-control" required>
                                <option value="java" ng-selected="app.type=='java'">java</option>
                                <option value="node.js" ng-selected="app.type=='node.js'">node.js</option>
                                <option value="android" ng-selected="app.type=='android'">android</option>
                                <option value="ios" ng-selected="app.type=='ios'">ios</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': appForm.host.$dirty }">
                        <label for="host" class="col-sm-2 control-label">域</label>
                        <div class="col-sm-10 controls">
                            <input name="host" type="text" data-ng-model="app.host" id="host" class="form-control"
                                   placeholder="请填写您的应用所在域" data-ng-change="removeErr()" required>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': appForm.alarmEmail.$dirty && appForm.alarmEmail.$invalid }">
                        <label for="alarmEmail" class="col-sm-2 control-label">报警邮箱</label>
                        <div class="col-sm-10 controls">
                            <input name="alarmEmail" type="text" data-ng-model="app.alarmEmail" id="alarmEmail" class="form-control"
                                   placeholder="请填写您的应用报警邮箱" required>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <!--性能配置-->
        <div class="row panel panel-info">
            <div class="panel-heading">
                性能监控
                <span class="glyphicon panel-heading-arrow-right"
                      ng-click="togglePanelOpen('performance')"
                      ng-class="{'glyphicon-chevron-right':!isPanelOpen.performance, 'glyphicon-chevron-down':isPanelOpen.performance }"></span>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">状态配置</label>
                    <div class="col-sm-10 controls">
                        <select name="config.performance"
                                ng-model="app.config.performance"
                                ng-options="selectItem.value as selectItem.label for selectItem in selectItems"
                                class="form-control" required></select>
                    </div>
                </div>
            </div>
        </div>
        
        <!--异常配置-->
        <div class="row panel panel-info">
            <div class="panel-heading">
                异常报警
                <span class="glyphicon panel-heading-arrow-right"
                      ng-click="togglePanelOpen('exception')"
                      ng-class="{'glyphicon-chevron-right':!isPanelOpen.exception, 'glyphicon-chevron-down':isPanelOpen.exception }"></span>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">状态配置</label>
                    <div class="col-sm-10 controls">
                        <select name="config.exception"
                                ng-model="app.config.exception"
                                ng-options="selectItem.value as selectItem.label for selectItem in selectItems"
                                class="form-control" required></select>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': appForm.alarmtype.$dirty && appForm.alarmtype.$invalid }">
                    <label class="col-sm-2 control-label">报警类型</label>
                    <div class="col-sm-10 controls">
                        <label ng-repeat="alarmitmen in alarmtypes">
                            <input
                                type="checkbox"
                                name="alarmtype[]"
                                value="{{alarmitmen.value}}"
                                ng-model="alarmtype"
                                ng-checked="alarmitmen.checked"
                                ng-click="toggleSelection($event, 2)"
                            > {{alarmitmen.label}}
                        </label>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': appForm.deadLinkInterval.$dirty && appForm.deadLinkInterval.$invalid }">
                    <label for="deadLinkInterval" class="col-sm-2 control-label">死链接检测间隔</label>
                    <div class="col-sm-10 controls">
                        <select id="deadLinkInterval" name="deadLinkInterval" data-ng-model="app.deadLinkInterval" ng-options="deadLinkInterval.value as deadLinkInterval.label for deadLinkInterval in deadLinkIntervals"
                                class="form-control" required>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': appForm.alarmInterval.$dirty && appForm.alarmInterval.$invalid }">
                    <label for="alarmInterval" class="col-sm-2 control-label">异常报警间隔</label>
                    <div class="col-sm-10 controls">
                        <select id="alarmInterval" name="alarmInterval" data-ng-model="app.alarmInterval" ng-options="alarmInterval.value as alarmInterval.label for alarmInterval in alarmIntervals"
                                class="form-control" required>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <!--UI配置-->
        <div class="row panel panel-info">
            <div class="panel-heading">
                UI监控
                <span class="glyphicon panel-heading-arrow-right"
                      ng-click="togglePanelOpen('ui')"
                      ng-class="{'glyphicon-chevron-right':!isPanelOpen.ui, 'glyphicon-chevron-down':isPanelOpen.ui }"></span>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">状态配置</label>
                    <div class="col-sm-10 controls">
                        <select name="config.ui"
                                ng-model="app.config.ui"
                                ng-options="selectItem.value as selectItem.label for selectItem in selectItems"
                                class="form-control" required></select>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': appForm.uiInterval.$dirty && appForm.uiInterval.$invalid }">
                    <label for="uiInterval" class="col-sm-2 control-label">主动监控时间间隔</label>
                    <div class="col-sm-10 controls">
                        <select id="uiInterval" name="uiInterval" data-ng-model="app.uiInterval" ng-options="uiInterval.value as uiInterval.label for uiInterval in uiIntervals"
                                class="form-control" required>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': appForm.needLogin.$dirty && appForm.needLogin.$invalid }">
                    <label class="col-sm-2 control-label" for="needLogin">监测页面是否要登陆</label>
                    <div class="col-sm-10 controls">
                        <select name="needLogin"
                                ng-model="app.needLogin"
                                id="needLogin"
                                ng-options="selectItem.value as selectItem.label for selectItem in needLoginItems"
                                class="form-control" required>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': appForm.url.$dirty && appForm.url.$invalid }" ng-show="app.needLogin" >
                    <label class="col-sm-2 control-label" for="url">登陆页面URL</label>
                    <div class="col-sm-10 controls">
                        <input name="url" type="text" data-ng-model="app.auth.url" id="url" class="form-control"
                               placeholder="请输入登陆页面" data-ng-change="removeErr()" required>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': appForm.username.$dirty && appForm.username.$invalid }" ng-show="app.needLogin" >
                    <label class="col-sm-2 control-label" for="username">用户名</label>
                    <div class="col-sm-10 controls">
                        <input name="username" type="text" data-ng-model="app.auth.username" id="username" class="form-control"
                               placeholder="请输入监测页面登录用户名" data-ng-change="removeErr()" required>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': appForm.password.$dirty && appForm.password.$invalid }"  ng-show="app.needLogin"  >
                    <label class="col-sm-2 control-label" for="password">密码</label>
                    <div class="col-sm-10 controls">
                        <input name="password" type="password" data-ng-model="app.auth.password" id="password" class="form-control"
                               placeholder="请输入监测页面登录密码" data-ng-change="removeErr()" required>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': appForm.username_selector.$dirty && appForm.username_selector.$invalid }"  ng-show="app.needLogin"  >
                    <label class="col-sm-2 control-label" for="password">用户名选择器</label>
                    <div class="col-sm-10 controls">
                        <input name="username_selector" type="text" data-ng-model="app.auth.usernameSelector" id="username_selector" class="form-control"
                               placeholder="请输入用户名选择器" data-ng-change="removeErr()" required>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': appForm.password_selector.$dirty && appForm.password_selector.$invalid }"  ng-show="app.needLogin"  >
                    <label class="col-sm-2 control-label" for="password">密码选择器</label>
                    <div class="col-sm-10 controls">
                        <input name="password_selector" type="text" data-ng-model="app.auth.passwordSelector" id="password_selector" class="form-control"
                               placeholder="请输入密码选择器" data-ng-change="removeErr()" required>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': appForm.useCaptcha.$dirty && appForm.useCaptcha.$invalid }">
                    <label class="col-sm-2 control-label" for="needLogin">登陆是否需要验证码</label>
                    <div class="col-sm-10 controls">
                        <select name="useCaptcha"
                                ng-model="app.auth.useCaptcha"
                                id="useCaptcha"
                                ng-options="selectItem.value as selectItem.label for selectItem in needLoginItems"
                                class="form-control" required>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': appForm.captcha_selector.$dirty && appForm.captcha_selector.$invalid }"  ng-show="app.needLogin && app.auth.useCaptcha"  >
                    <label class="col-sm-2 control-label" for="password">验证码输入框选择器</label>
                    <div class="col-sm-10 controls">
                        <input name="captcha_selector" type="text" data-ng-model="app.auth.captchaSelector" id="captcha_selector" class="form-control"
                               placeholder="请输入验证码输入框选择器" data-ng-change="removeErr()" required>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': appForm.login_form_selector.$dirty && appForm.login_form_selector.$invalid }"  ng-show="app.needLogin"  >
                    <label class="col-sm-2 control-label" for="password">登陆表单选择器</label>
                    <div class="col-sm-10 controls">
                        <input name="login_form_selector" type="text" data-ng-model="app.auth.loginFormSelector" id="login_form_selector" class="form-control"
                               placeholder="请输入密码选择器" data-ng-change="removeErr()" required>
                    </div>
                </div>
            </div>
        </div>

        <!--用户行为配置-->
        <div class="row panel panel-info">
            <div class="panel-heading">
                用户行为监控
                <span class="glyphicon panel-heading-arrow-right"
                      ng-click="togglePanelOpen('behavior')"
                      ng-class="{'glyphicon-chevron-right':!isPanelOpen.behavior, 'glyphicon-chevron-down':isPanelOpen.behavior }"></span>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">状态配置</label>
                    <div class="col-sm-10 controls">
                        <select name="config.behavior"
                                ng-model="app.config.behavior"
                                ng-options="selectItem.value as selectItem.label for selectItem in selectItems"
                                class="form-control" required></select>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group text-center">
            <input type="submit" value="更新" class="btn btn-primary">
            <input type="button" value="取消" class="btn btn-default" ng-click="back()">
        </div>
        <div data-ng-show="error" class="text-danger">
            <strong data-ng-bind="error"></strong>
        </div>
    </form>
</section>
