<section data-ng-controller="AppsController" data-ng-init="find()">
    <div class="page-header">
        <h1>应用列表</h1>
    </div>
    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover myTable"
           data-ng-if="apps.length">
        <thead>
        <tr>
            <th>应用名称</th>
            <th>应用详情</th>
            <th>监控类型</th>
            <th data-ng-show="showName">用户名</th>
            <th>类型</th>
            <th>域</th>
            <th>创建时间</th>
            <th data-ng-show="authentication.user._id">删除</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="app in apps">
            <td>{{ app.name }}</td>
            <td><a data-ng-href="#!/apps/{{app._id}}">查看</a></td>
            <td><a data-ng-href="#!/apps/performance/{{app._id}}">性能</a>/<a data-ng-href="#!/apps/exception/{{app._id}}">异常</a></td>
            <td data-ng-show="showName">{{ app.user.displayName }}</td>
            <td>{{ app.type }}</td>
            <td>{{ app.host }}</td>
            <td>{{ app.created | date:'yyyy-MM-dd HH:mm:ss' }}</td>
            <td>
                <a title="删除" data-ng-show="(authentication.user._id == app.user._id)" class="btn btn-primary btn-sm" data-ng-click="remove(app);" my-confirm-click="您确定要删除吗？">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
                <a title="您没有权限删除该应用" data-ng-show="(authentication.user._id !== app.user._id)" class="btn btn-primary btn-sm" my-confirm-click="您没有权限删除该应用">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="alert alert-warning text-center" data-ng-if="apps.$resolved && !apps.length">
        没有任何应用。
    </div>
    <div data-ng-show="error" class="text-center text-danger">
        <strong data-ng-bind="error"></strong>
    </div>
</section>
