<section data-ng-controller="AppsController" ng-init="intApp()">
    <div class="pull-right" data-ng-show="(authentication.user)">
        <a title="返回" class="btn btn-primary btn-sm" data-ng-click="back();">
            <i class="glyphicon glyphicon-arrow-left"></i>
        </a>
        <a title="设置" class="btn btn-primary btn-sm" href="/#!/apps/{{app._id}}/edit" data-ng-show="(authentication.user._id == app.user._id)">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a title="删除" class="btn btn-primary btn-sm" data-ng-click="remove();"
           data-ng-show="(authentication.user._id == app.user._id)">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>

    <div class="page-header">
        <h1 data-ng-bind="app.name"></h1>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading"><b>性能&异常监测脚本</b>（请复制以下代码到您需监控的应用页面html代码的head里，即其它资源请求文件之前）：
            <span class="pull-right fa fa-copy fa-lg cursor" title="复制代码" clip-copy="script" clip-click="clip()"></span>
        </div>
        <div class="panel-body">
            <code class="center-block">{{script}}</code>
            <div class="text-center text-success" data-ng-show="isClip">
                <strong>已复制代码到剪贴板。</strong>
            </div>
        </div>
    </div>

    <form class="form-horizontal">
        <!--基础配置-->
        <div class="panel panel-info">
            <div class="panel-heading">
                基础配置
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="type" class="col-sm-2 control-label">类型</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="type" data-ng-model="app.type" ng-readonly="true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="host" class="col-sm-2 control-label">域</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="host" data-ng-model="app.host" ng-readonly="true">
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': appForm.alarmEmail.$dirty && appForm.alarmEmail.$invalid }">
                    <label for="alarmEmail" class="col-sm-2 control-label">报警邮箱</label>
                    <div class="col-sm-10 controls">
                        <input name="alarmEmail" type="text" data-ng-model="app.alarmEmail" id="alarmEmail" class="form-control"
                               placeholder="请填写您的应用报警邮箱" ng-readonly="true">
                    </div>
                </div>
            </div>
        </div>

        <!--性能配置-->
        <div class="panel panel-info">
            <div class="panel-heading">
                性能监控
                <span class="glyphicon panel-heading-arrow-right"
                      ng-click="togglePanelOpen('performance')"
                      ng-class="{'glyphicon-chevron-right':!isPanelOpen.performance, 'glyphicon-chevron-down':isPanelOpen.performance }"></span>
            </div>
            <div class="panel-body" ng-class="{hidden:!isPanelOpen.performance}">
                <div class="form-group" ng-class="{'has-error': appForm.alarmEmail.$dirty && appForm.alarmEmail.$invalid }">
                    <label class="col-sm-2 control-label">状态配置</label>
                    <div class="col-sm-10 controls">
                        <div ng-switch on="app.config.performance">
                            <div ng-switch-when=true>
                                <input type="text" class="form-control" value="开启" ng-readonly="true">
                            </div>
                            <div ng-switch-when=false>
                                <input type="text" class="form-control" value="关闭" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--异常配置-->
        <div class="panel panel-info">
            <div class="panel-heading">
                异常报警
                <span class="glyphicon panel-heading-arrow-right" ng-click="togglePanelOpen('exception')" ng-class="{'glyphicon-chevron-right':!isPanelOpen.exception, 'glyphicon-chevron-down':isPanelOpen.exception }"></span>
            </div>
            <div class="panel-body" ng-class="{hidden:!isPanelOpen.exception}">
                <div class="form-group">
                    <label class="col-sm-2 control-label">状态配置</label>
                    <div class="col-sm-10">
                        <div ng-switch on="app.config.exception">
                            <div ng-switch-when=true>
                                <input type="text" class="form-control" value="开启" ng-readonly="true">
                            </div>
                            <div ng-switch-when=false>
                                <input type="text" class="form-control" value="关闭" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">报警类型</label>
                    <div class="col-sm-10">
                        <label ng-repeat="alarmitmen in alarmtypes | filter: {checked: true}">
                            <input
                                type="checkbox"
                                name="alarmtype[]"
                                value="{{alarmitmen.value}}"
                                ng-model="alarmtype"
                                ng-checked="alarmitmen.checked"
                                ng-click="toggleSelection($event, 2)"
                                ng-disabled="true"
                            > {{alarmitmen.label}}
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="deadLinkInterval" class="col-sm-2 control-label">死链接检测间隔</label>
                    <div class="col-sm-10">
                        <div ng-switch on="app.deadLinkInterval" id="deadLinkInterval">
                            <div ng-switch-when="1800000">
                                <input type="text" class="form-control" value="30分钟" ng-readonly="true">
                            </div>
                            <div ng-switch-when="3600000">
                                <input type="text" class="form-control" value="1个小时" ng-readonly="true">
                            </div>
                            <div ng-switch-when="43200000">
                                <input type="text" class="form-control" value="半天" ng-readonly="true">
                            </div>
                            <div ng-switch-when="86400000">
                                <input type="text" class="form-control" value="1天" ng-readonly="true">
                            </div>
                            <div ng-switch-when="604800000">
                                <input type="text" class="form-control" value="1周" ng-readonly="true">
                            </div>
                            <div ng-switch-when="2592000000">
                                <input type="text" class="form-control" value="1个月" ng-readonly="true">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label for="deadLinkInterval" class="col-sm-2 control-label">异常报警间隔</label>
                    <div class="col-sm-10">
                        <div ng-switch on="app.alarmInterval" id="alarmInterval">
                            <div ng-switch-when="300000">
                                <input type="text" class="form-control" value="5分钟" ng-readonly="true">
                            </div>
                            <div ng-switch-when="600000">
                                <input type="text" class="form-control" value="10分钟" ng-readonly="true">
                            </div>
                            <div ng-switch-when="900000">
                                <input type="text" class="form-control" value="15分钟" ng-readonly="true">
                            </div>
                            <div ng-switch-when="1800000">
                                <input type="text" class="form-control" value="30分钟" ng-readonly="true">
                            </div>
                            <div ng-switch-when="3600000">
                                <input type="text" class="form-control" value="1个小时" ng-readonly="true">
                            </div>
                            <div ng-switch-when="43200000">
                                <input type="text" class="form-control" value="半天" ng-readonly="true">
                            </div>
                            <div ng-switch-when="86400000">
                                <input type="text" class="form-control" value="1天" ng-readonly="true">
                            </div>
                            <div ng-switch-when="604800000">
                                <input type="text" class="form-control" value="1周" ng-readonly="true">
                            </div>
                            <div ng-switch-when="2592000000">
                                <input type="text" class="form-control" value="1个月" ng-readonly="true">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--UI配置-->
        <div class="panel panel-info">
            <div class="panel-heading">
                UI监控
                <span class="glyphicon panel-heading-arrow-right" ng-click="togglePanelOpen('ui')" ng-class="{'glyphicon-chevron-right':!isPanelOpen.ui, 'glyphicon-chevron-down':isPanelOpen.ui }"></span>
            </div>
            <div class="panel-body" ng-class="{hidden:!isPanelOpen.ui}">
                <div class="form-group">
                    <label class="col-sm-2 control-label">状态配置</label>
                    <div class="col-sm-10 controls">
                        <div ng-switch on="app.config.ui">
                            <div ng-switch-when=true>
                                <input type="text" class="form-control" value="开启" ng-readonly="true">
                            </div>
                            <div ng-switch-when=false>
                                <input type="text" class="form-control" value="关闭" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="uiInterval" class="col-sm-2 control-label">主动监控时间间隔</label>
                    <div class="col-sm-10">
                        <div ng-switch on="app.uiInterval" id="uiInterval">
                            <div ng-switch-when="1800000">
                                <input type="text" class="form-control" value="30分钟" ng-readonly="true">
                            </div>
                            <div ng-switch-when="3600000">
                                <input type="text" class="form-control" value="1个小时" ng-readonly="true">
                            </div>
                            <div ng-switch-when="43200000">
                                <input type="text" class="form-control" value="半天" ng-readonly="true">
                            </div>
                            <div ng-switch-when="86400000">
                                <input type="text" class="form-control" value="1天" ng-readonly="true">
                            </div>
                            <div ng-switch-when="604800000">
                                <input type="text" class="form-control" value="1周" ng-readonly="true">
                            </div>
                            <div ng-switch-when="2592000000">
                                <input type="text" class="form-control" value="1个月" ng-readonly="true">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--用户行为配置-->
        <div class="panel panel-info">
            <div class="panel-heading">
                用户行为监控
                <span class="glyphicon panel-heading-arrow-right" ng-click="togglePanelOpen('behavior')" ng-class="{'glyphicon-chevron-right':!isPanelOpen.behavior, 'glyphicon-chevron-down':isPanelOpen.behavior }"></span>
            </div>
            <div class="panel-body" ng-class="{hidden:!isPanelOpen.behavior}">
                <div class="form-group">
                    <label class="col-sm-2 control-label">状态配置</label>
                    <div class="col-sm-10 controls">
                        <div ng-switch on="app.config.behavior">
                            <div ng-switch-when=true>
                                <input type="text" class="form-control" value="开启" ng-readonly="true">
                            </div>
                            <div ng-switch-when=false>
                                <input type="text" class="form-control" value="关闭" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <tabset>
        <tab>
            <tab-heading>
                <i class="fa fa-area-chart"></i> 被动监控（性能和异常）
            </tab-heading>
            <div class="panel-body">
                <table datatable="ng" dt-options="dtPageOptions" class="table table-striped table-bordered table-hover myTable"
                       data-ng-if="pages.length">
                    <thead>
                    <tr>
                        <th>页面路径</th>
                        <th>性能详情</th>
                        <th>异常详情</th>
                        <th data-ng-show="(authentication.user._id == app.user._id)">删除页面</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="page in pages">
                        <td>{{ page.pathname }}</td>
                        <td><a ng-click="gotoPerformance(page)">性能详情</a></td>
                        <td><a ng-click="gotoException(page)">异常详情</a></td>
                        <td data-ng-show="(authentication.user._id == app.user._id)"><a ng-click="deletePage(page)">删除页面</a></td>
                    </tr>
                    </tbody>
                </table>
                <div class="alert alert-warning text-center" data-ng-if="!pages.length">
                    没有任何页面，将以上脚本复制到您需要监控的页面即可添加页面。
                </div>
            </div>
        </tab>
        <tab >
            <tab-heading>
                <i class="fa fa-cloud"></i> 主动监控（页面）
            </tab-heading>
            <div class="panel-body">
                <div class="pull-right btn-bar">
                    <button class="btn btn-sm btn-success" data-ng-click="gotoAddTask()" title="添加主动监控任务">添加任务</button>
                </div>
                <table datatable="" dt-options="dtPageOptions"  class="table table-striped table-bordered table-hover" data-ng-if="tasks.length">
                    <thead>
                    <tr >
                        <th>任务URL</th>
                        <th>任务详情</th>
                        <th>上次任务运行时间</th>
                        <th>创建时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="task in tasks">
                        <td>{{task.url}}</td>
                        <td><a ng-click="gotoTaskDetail(task)">任务详情</a></td>
                        <td>{{task.lastRunTime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                        <td>{{task.createTime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </tab>
    </tabset>
</section>
