<section data-ng-controller="AppsController" ng-init="findOne()">
    <div class="pull-right" data-ng-show="(authentication.user)">
        <a title="返回" class="btn btn-primary btn-sm" data-ng-click="back();">
            <i class="glyphicon glyphicon-arrow-left"></i>
        </a>
        <a title="设置" class="btn btn-primary btn-sm" href="/#!/apps/{{app._id}}/edit" data-ng-show="(authentication.user._id == app.user._id)">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a title="删除" class="btn btn-primary btn-sm" data-ng-click="remove();"
           data-ng-show="(authentication.user._id == app.user._id)" my-confirm-click="您确定要删除吗？">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
	<div class="page-header">
		<h1 data-ng-bind="app.name"></h1>
	</div>
    <div class="panel panel-info">
        <div class="panel-heading">请复制以下代码到您需采集数据的所属页面html代码的body底部：
            <span class="pull-right fa fa-copy fa-lg cursor" title="复制代码" clip-copy="script" clip-click="clip()"></span>
        </div>
        <div class="panel-body">
            <code class="center-block">{{script}}</code>
            <div class="text-center text-success" data-ng-show="isClip">
                <strong>已复制代码到剪贴板。</strong>
            </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">查询参数配置：</div>
        <div class="panel-body">
            <div class="text-center text-danger">
                目前{{app.name}}的<span class="large">{{pagesNum}}</span>个页面正在进行监控。
            </div>
            <div data-ng-show="showChart">
                <div class="form-group">
                    <label class="control-label">页面：</label>
                    <button class="btn btn-default" name="selectPage" data-ng-model="selectPage"
                            placeholder="暂无监控页面" ng-options="page.pathname for page in pages" bs-select>
                    </button>
                    <label class="control-label">浏览器分类：</label>
                    <button class="btn btn-default" name="selectBrowser" data-ng-model="selectBrowser"
                            ng-options="item.name for item in browsers" bs-select>
                    </button>
                </div>
                <div class="form-group">
                    <label class="control-label">统计间隔：</label>
                    <button class="btn btn-default" name="selectInterval" data-ng-model="selectInterval"
                            ng-options="item.name for item in intervals" bs-select>
                    </button>
                    <label class="control-label">统计区间：</label>
                    <input class="btn btn-default" ng-model="fromDate" data-max-date="{{untilDate}}"
                           placeholder="开始日期" bs-datepicker type="text" data-date-format="yyyy-MM-dd"
                           data-ng-show="selectInterval.id === 'day'">
                    <input class="btn btn-default" ng-model="fromDate" placeholder="开始月份" bs-datepicker type="text"
                           data-min-view="1" data-date-format="yyyy-MM" data-ng-show="selectInterval.id === 'month'"
                           data-max-date="{{untilDate}}">
                    <input class="btn btn-default" ng-model="fromDate" data-max-date="{{untilDate}}"
                           placeholder="开始年份" bs-datepicker type="text" data-min-view="2" data-date-format="yyyy"
                           data-ng-show="selectInterval.id === 'year'">
                    至
                    <input class="btn btn-default" ng-model="untilDate" data-min-date="{{fromDate}}"
                           data-max-date="{{nowDate}}" placeholder="截止日期" bs-datepicker type="text"
                           data-date-format="yyyy-MM-dd" data-ng-show="selectInterval.id === 'day'">
                    <input class="btn btn-default" ng-model="untilDate" placeholder="截止月份" bs-datepicker type="text"
                           data-date-format="yyyy-MM" data-ng-show="selectInterval.id === 'month'" data-min-date="{{fromDate}}"
                           data-min-view="1" data-max-date="{{nowDate}}">
                    <input class="btn btn-default" ng-model="untilDate" data-min-date="{{fromDate}}"
                           data-max-date="{{nowDate}}" placeholder="截止年份" bs-datepicker type="text" data-min-view="2"
                           data-date-format="yyyy" data-ng-show="selectInterval.id === 'year'">
                    <label class="control-label">统计量：</label>
                    <button class="btn btn-default" name="selectStatistic" data-ng-model="selectStatistic"
                            ng-options="item.name for item in statistics" bs-select>
                    </button>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-success center-block" ng-click="refrashChart()">
                        <span class="fa fa-refresh"></span> 刷新
                    </button>
                </div>
            </div>
        </div>
    </div>
    <tabset data-ng-if="showChart && showData">
        <tab select="reflow()">
            <tab-heading>
                <i class="fa fa-line-chart"></i> 统计趋势
            </tab-heading>
            <highchart config="chartConfig"></highchart>
            <tabset data-ng-if="details.length">
                <tab>
                    <tab-heading>
                        <i class="fa fa-table"></i> 真实请求概览
                    </tab-heading>
                    <table datatable="ng" dt-options="dtOptions"
                           class="table table-striped table-bordered table-hover myTable">
                        <caption>
                            <i>表1：真实请求概览</i>
                        </caption>
                        <thead>
                            <tr>
                                <th>请求时间</th>
                                <th>HTTP请求数</th>
                                <th>总耗时（ms）</th>
                                <th>页面跳转耗时（ms）</th>
                                <th>DNS查询耗时（ms）</th>
                                <th>连接耗时（ms）</th>
                                <th>等待响应耗时（ms）</th>
                                <th>接收文档耗时（ms）</th>
                                <th>DOM处理耗时（ms）</th>
                                <th>DOM内容加载耗时（ms）</th>
                                <th>load事件耗时（ms）</th>
                                <th>用户请求IP</th>
                                <th>用户浏览器</th>
                                <th>用户系统</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="detail in details">
                                <td>
                                    <span class="cursor text-danger" bs-aside="aside" title="查看资源详情分析"
                                          ng-click="findTiming(detail.id)"
                                          data-template="modules/apps/views/timing/view-timing.client.view.html">
                                        {{ detail.created | date:'yyyy-MM-dd HH:mm:ss'}}
                                    </span>
                                </td>
                                <td>{{ detail.requests }}</td>
                                <td>{{ detail.pageLoad }}</td>
                                <td>{{ detail.redirect }}</td>
                                <td>{{ detail.dns }}</td>
                                <td>{{ detail.connect }}</td>
                                <td>{{ detail.waiting }}</td>
                                <td>{{ detail.receiving }}</td>
                                <td>{{ detail.processing }}</td>
                                <td>{{ detail.contentLoaded }}</td>
                                <td>{{ detail.onLoad }}</td>
                                <td>{{ detail.ip }}</td>
                                <td>{{ detail.browser }}</td>
                                <td>{{ detail.os }}</td>
                            </tr>
                        </tbody>
                    </table>
                </tab>
                <tab select="reflow()">
                    <tab-heading>
                        <i class="fa fa-area-chart"></i> 真实请求趋势
                    </tab-heading>
                    <highchart config="timingArea"></highchart>
                </tab>
            </tabset>
        </tab>
        <tab>
            <tab-heading>
                <i class="fa fa-th"></i> 统计概况
            </tab-heading>
            <div class="row myMT16">
                <div class="col-lg-4">
                    <div class="alert alert-info" bs-tooltip="sumTooltip">
                        HTTP请求数
                        <div class="large">
                            {{statisticData.requests}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="alert alert-warning" bs-tooltip="pageLoadTooltip">
                        DNS查询时间
                        <div class="large">
                            {{statisticData.dnsTime}} ms
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="alert alert-warning" bs-tooltip="backendTooltip">
                        请求连接时间
                        <div class="large">
                            {{statisticData.connectTime}} ms
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="alert alert-warning" bs-tooltip="networkTooltip">
                        请求文档时间
                        <div class="large">
                            {{statisticData.requestTime}} ms
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="alert alert-warning" bs-tooltip="redirectTooltip">
                        接收文档时间
                        <div class="large">
                            {{statisticData.receiveTime}} ms
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="alert alert-warning" bs-tooltip="dnsTooltip">
                        解析文档时间
                        <div class="large">
                            {{statisticData.processTime}} ms
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="alert alert-warning" bs-tooltip="connectTooltip">
                        页面可交互时间
                        <div class="large">
                            {{statisticData.interactiveTime}} ms
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="alert alert-warning" bs-tooltip="frontendTooltip">
                        DOM Ready时间
                        <div class="large">
                            {{statisticData.domReadyTime}} ms
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="alert alert-warning" bs-tooltip="processingTooltip">
                        资源完成加载时间
                        <div class="large">
                            {{statisticData.processing}} ms
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="alert alert-warning" bs-tooltip="onLoadTooltip">
                        页面onLoad时间
                        <div class="large">
                            {{statisticData.onLoadTime}} ms
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="alert alert-warning" bs-tooltip="frontendTooltip">
                        页面完全加载时间
                        <div class="large">
                            {{statisticData.pageLoadTime}} ms
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="alert alert-success" bs-tooltip="processingTooltip">
                        总耗时
                        <div class="large">
                            {{statisticData.pageLoad}} ms
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="alert alert-success" bs-tooltip="onLoadTooltip">
                        网络耗时
                        <div class="large">
                            {{statisticData.network}} ms
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="alert alert-success" bs-tooltip="frontendTooltip">
                        后端耗时
                        <div class="large">
                            {{statisticData.backend}} ms
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="alert alert-success" bs-tooltip="processingTooltip">
                        前端耗时
                        <div class="large">
                            {{statisticData.frontend}} ms
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="alert alert-danger" bs-tooltip="onLoadTooltip">
                        页面跳转耗时
                        <div class="large">
                            {{statisticData.redirect}} ms
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="alert alert-danger" bs-tooltip="frontendTooltip">
                        DNS查询耗时
                        <div class="large">
                            {{statisticData.dns}} ms
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="alert alert-danger" bs-tooltip="processingTooltip">
                        连接耗时
                        <div class="large">
                            {{statisticData.connect}} ms
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="alert alert-danger" bs-tooltip="onLoadTooltip">
                        等待响应耗时
                        <div class="large">
                            {{statisticData.waiting}} ms
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="alert alert-danger" bs-tooltip="frontendTooltip">
                        接收文档耗时
                        <div class="large">
                            {{statisticData.receiving}} ms
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="alert alert-danger" bs-tooltip="processingTooltip">
                        DOM处理耗时
                        <div class="large">
                            {{statisticData.processing}} ms
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="alert alert-danger" bs-tooltip="onLoadTooltip">
                        DOM内容加载耗时
                        <div class="large">
                            {{statisticData.contentLoaded}} ms
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="alert alert-danger" bs-tooltip="onLoadTooltip">
                        load事件耗时
                        <div class="large">
                            {{statisticData.onLoad}} ms
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab select="reflow()">
            <tab-heading>
                <i class="fa fa-align-left"></i> 加载时间线
            </tab-heading>
            <highchart config="timingline"></highchart>
        </tab>
        <tab select="reflow()">
            <tab-heading>
                <i class="fa fa-pie-chart"></i> 统计分布
            </tab-heading>
            <highchart config="timingPie"></highchart>
        </tab>
    </tabset>
    <div class="alert alert-danger text-center" role="alert" data-ng-show="!showData">
        <strong>没有数据。</strong>
    </div>
	<small>
		<em class="text-muted">
			由
			<span data-ng-bind="app.user.displayName"></span>
			创建于
			<span data-ng-bind="app.created | date:'yyyy-MM-dd HH:mm:ss'"></span>
		</em>
	</small>
</section>
