<section data-ng-controller="AppsController" ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="app.name"></h1>
	</div>
    <div class="pull-right" data-ng-show="(authentication.user)">
        <a title="返回" class="btn btn-primary btn-sm" data-ng-click="back();">
            <i class="glyphicon glyphicon-arrow-left"></i>
        </a>
        <a title="设置" class="btn btn-primary btn-sm" href="/#!/apps/{{app._id}}/edit" data-ng-show="(authentication.user._id == app.user._id)">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a title="删除" class="btn btn-primary btn-sm" data-ng-click="remove();"
           data-ng-show="(authentication.user._id == app.user._id)" my-confirm-click="您确定要删除吗？">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    请复制以下代码到您需采集数据的所属页面html代码的body底部：<br>
    <p><span>{{script}}</span></p>
    <div class="panel panel-success">
        <div class="panel-heading">页面总体概况</div>
        <div class="panel-body">
            <div class="form-group">
                <label class="control-label">页面：</label>
                <select class="btn btn-default" name="selectPage" data-ng-model="selectPage"
                        ng-options="page.pathname for page in pages" bs-select>
                </select>
                <label class="control-label">日期范围：</label>
                <input class="btn btn-default" ng-model="fromDate" data-max-date="{{untilDate}}" placeholder="开始日期"
                       bs-datepicker type="text">
                至
                <input class="btn btn-default" ng-model="untilDate" data-min-date="{{fromDate}}" data-max-date="{{nowDate}}"
                       placeholder="截止日期" bs-datepicker type="text">
                <label class="control-label">图表类型：</label>
                <select class="btn btn-default" name="selectChartType" data-ng-model="selectChartType"
                        ng-options="chartType for chartType in chartTypes" bs-select>
                </select>
                <input type="button" value="刷新" class="btn btn-success" ng-click="refrashChart()">
            </div>
            <highchart id="chart1" config="chartConfig"></highchart>
        </div>
    </div>
	<small>
		<em class="text-muted">
			由
			<span data-ng-bind="app.user.displayName"></span>
			创建于
			<span data-ng-bind="app.created | date:'yyyy-MM-dd HH:mm:ss'"></span>
		</em>
	</small>
</section>
