<section data-ng-controller="SettingsController" data-ng-init="find()">
    <div class="page-header">
        <h1>用户列表</h1>
    </div>
    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered" data-ng-if="users.length">
        <thead>
        <tr>
            <th>账号</th>
            <th>角色</th>
            <th>显示名</th>
            <th>邮箱</th>
            <th>创建时间</th>
            <th>上次修改时间</th>
            <th>是否激活</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="user in users">
            <td>{{ user.username }}</td>
            <td data-ng-switch="user.roles[0]">
                <span data-ng-switch-when="user">普通用户</span>
                <span data-ng-switch-when="admin">管理员</span>
            </td>
            <td>{{ user.displayName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.created | date:'yyyy-MM-dd HH:mm:ss' }}</td>
            <td>{{ user.updated | date:'yyyy-MM-dd HH:mm:ss' }}</td>
            <td data-ng-switch="user.roles[0]">
                <input type="checkbox" data-ng-switch-when="user" data-ng-model="user.isActive" data-ng-change="change(user)"/>
                <input type="checkbox" data-ng-switch-when="admin" data-ng-model="user.isActive" disabled="true"/>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="alert alert-warning text-center" data-ng-if="users.$resolved && !users.length">
        没有任何用户。
    </div>
    <div data-ng-show="success" class="text-center text-success">
        <strong>成功修改账号的激活标识</strong>
    </div>
    <div data-ng-show="error" class="text-center text-danger">
        <strong data-ng-bind="error"></strong>
    </div>
</section>
