<section data-ng-controller="AppsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="app.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="(authentication.user)">
		<a title="返回" class="btn btn-primary btn-sm" data-ng-click="back();">
			<i class="glyphicon glyphicon-arrow-left"></i>
		</a>
		<a title="设置" class="btn btn-primary btn-sm" href="/#!/apps/{{app._id}}/edit" data-ng-show="(authentication.user._id == app.user._id)">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a title="删除" class="btn btn-primary btn-sm" data-ng-click="remove();"
		   data-ng-show="(authentication.user._id == app.user._id)" my-confirm-click="您确定要删除吗？">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	请复制以下代码到您需采集数据的所属页面html代码的body底部：<br>
	<p><span>{{script}}</span></p>
	<br>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="app.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="app.user.displayName"></span>
		</em>
	</small>
</section>
