<div class="aside" tabindex="-1" role="dialog">
    <div class="aside-dialog">
        <div class="aside-content">
            <div class="aside-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="aside-title">资源详情分析</h4>
            </div>
            <div class="aside-body">
                <table datatable="ng" dt-options="dtOptions"
                       class="table table-striped table-bordered table-hover myTable" data-ng-if="resources.length">
                    <caption>
                        <i>表2：资源详情分析</i>
                    </caption>
                    <thead>
                    <tr>
                        <th>名称</th>
                        <th>域</th>
                        <th>类型</th>
                        <th>文件扩展名</th>
                        <th>总耗时（ms）</th>
                        <th>开始请求延迟（ms）</th>
                        <th>域名查询耗时（ms）</th>
                        <th>连接耗时（ms）</th>
                        <th>开始接收数据耗时（ms）</th>
                        <th>请求耗时（ms）</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="resource in resources">
                        <td>{{ resource.name }}</td>
                        <td>{{ resource.domain }}</td>
                        <td>{{ resource.initiatorType }}</td>
                        <td>{{ resource.fileExtension }}</td>
                        <td>{{ resource.loadtime }}</td>
                        <td>{{ resource.requestStartDelay }}</td>
                        <td>{{ resource.dns }}</td>
                        <td>{{ resource.connect }}</td>
                        <td>{{ resource.ttfb }}</td>
                        <td>{{ resource.requestDuration }}</td>
                    </tr>
                    </tbody>
                </table>
                <div data-ng-show="timingErrs" class="text-danger">
                    <strong data-ng-bind="timingErrs"></strong>
                </div>
            </div>
        </div>
    </div>
</div>
