<section data-ng-controller="TimingsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Timings</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="timing in timings" data-ng-href="#!/timings/{{timing._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="timing.created | date:'medium'"></span>
				by
				<span data-ng-bind="timing.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="timing.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!timings.$resolved || timings.length">
    	No Timings yet, why don't you <a href="/#!/timings/create">create one</a>?
    </div>
</section>